.__home_nav {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #cf2338;
    /* display:flex; */
    width: 100%;
    align-items: left;
}

.__home-body {
    margin-top: 1em;
    margin-right: 6em;
    margin-left: 6em;
    margin-bottom: 0em;
    display: flex;
    flex-wrap: nowrap;
}

.__table-model {
    margin-top: 2em;
    margin-left: 6em;
    width: 100%;
    height: 39em;
}

.__table-model > p {
    color: #cf2338;
    font-weight: bold;
}

#Online_Asset_Management_Home {
    margin-left: 6em;
    top: 12px;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px!important;
    float: left;
    color: rgba(250, 250, 250, 1);
}

#nav-username {
    font-size: 18px!important;
}

.nav-link {
    margin-right: 6em;
    text-align: left;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(250, 250, 250, 1);
}

.modal-header {
    padding-left: 3em;
}

.modal-body {
    padding-left: 3em;
}

.modal-body button {
    margin-right: 1em;
}

.modal-header-logout {
    background-color: #fafcfc;
    color: #cf2338;
}

.btn-cancel-logout {
    background-color: white;
    color: black;
}

.btn-cancel-logout:hover {
    background-color: white;
    color: black;
}
